.indicators_icons{
    width: calc(100% - 20px);
    padding-left: 20px;
    padding-right: 20px;
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.indicators_icons h4{
    margin: 0;
}

.indicators_icons p{
    margin: 0;
}








.calories{
    height: 20%;
    display: flex;
    background-color: #fbfbfb;
    align-items: center;
    justify-content: space-around
}

.protein{
    display: flex;
    background-color: #fbfbfb;
    align-items: center;
    justify-content: space-around;
    height: 20%;
}

.carbs{
    display: flex;
    background-color: #fbfbfb;
    align-items: center;
    justify-content: space-around;
    height: 20%;
}

.fat{
    display: flex;
    background-color: #fbfbfb;
    align-items: center;
    justify-content: space-around;
    height: 20%;
}

