.header{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
}

.header_component{
    width: 95%;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
 }