
.navigation{
  width: 40%;
}

  .navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1em;
    font-weight: bold; 
      margin: 0;
      padding: 0;
      list-style-type: none;
  }

  
  a {
    text-decoration: none;
  }

  
  li {
    padding: 5px;
    color:white;
    transition: 0.2s;
    cursor: pointer;
  }

  /* .nav-active {
    position: relative;

    &::after {
      content: "";
      height: 4px;
      width: 0;
      background: $color-1;
      position: absolute;
      border-radius: 10px;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-animation: anim 0.3s ease forwards;
      animation: anim 0.6s ease forwards;

      @-webkit-keyframes anim {
        to {
          width: 100%;
        }
      }
      @keyframes anim {
        to {
          width: 100%;
        }
      }
    }
  } */
  